<strong>MEETUP - Confirmação de Participação!</strong>

<p>
  Olá <strong>{{ user }}</strong><br>
  Você se inscreveu para participar do  meetup <strong>{{ meetup }}</strong>, que acontecerá
  em <strong>{{ date }}</strong> às <strong>{{ hour }}</strong>.
</p>

<p>Para confirmar sua participação, clique no link abaixo:</p>

<a href="{{ link }}" target="_blank">Confirmar minha participação</a>
